*{
    margin: 0;
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
header{ /*comienza el encabezado*/
    background-color: #343a40;
    padding: 15px;
}
nav{
    padding: 2px 20px;/*barra de navegacion*/
}
ul{
    text-align: center;
    list-style: none;
}
li{
    display: inline;
    border: 1px solid white;
    padding: 5px;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: white; /*finaliza la barra de navegacion y encabezado*/
}


.primeracaja{/*primera seccion del main*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   /* align-content:space-around;*/
    margin: 50px 0px
}
.cajahija1{
    width: 400px;
    height: 330px;
    background-color: whitesmoke;
    text-align: center;
}
.cajahija1>h2{
    margin: 10px;
}
.cajahija1>p{
    margin: 10px 5px 30px 5px;
}
.cajahija1>a{
    border-radius: 5px;
    padding: 8px 15px;
    /*margin-top: 10px;*/
}
.verde{
    color: green;
}
.verdelink{
    background-color: green;
}
.azul{
    color: blue;
}
.azullink{
    background-color: blue;
}
.rojo{
    color: red;
}
.rojolink{
    background-color: red;
}/*finaliza primera seccion del main*/


.segundacaja{/*Comienza segunda caja dle main*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*margin: 10px auto 20px auto;*/
}
.cajahija2{
    width: 600px;
    height: 400px;
   /* margin: -10px -5px -10px -5px;*/
    background-color: whitesmoke;
    text-align: center;
}
.cajahija2>h2{
    margin: 10px;
}
.cajahija2>p{
    margin: 10px 5px 30px 5px;
}
.cajahija2>a{
    border-radius: 5px;
    padding: 8px 15px;
    /*margin-top: 10px;*/
    border: 1px solid gray;
    font-weight: bold;
    color: gray;
    background-color: white;
}/*finaliza la segunda seccion del main*/


.terceracaja{/*comienza la tercera seccion del main*/
    text-align: center;
    margin: 50px auto 50px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: gray;
    
}
.cajahija3{
    width: 700px;
    margin: 15px auto 70px auto;
}
.cajahija3>h2{
    margin: 10px;
    color: white;
}
.cajahija3>p{
    margin: 10px 5px 30px 5px;
    color: white;
}/*finaliza la tercera caja del main*/


.cuartacaja{/*comienza la cuarta caja del main*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*margin: 50px 0px*/
}
.cajahija4{
    width: 300px;
    height: 450px;
    background-color: whitesmoke;
    text-align: center;
}
.cajahija4>h2{
    margin: 10px;
}
.cajahija4>p{
    margin: 10px 5px 30px 5px;
}
.cajahija4>a{
    border-radius: 5px;
    padding: 8px 30px;
    margin-top: 10px;
    border: 1px solid gray;
    font-weight: bold;
    color: gray;
    background-color: white;
}/*finaliza la cuarta caja del main*/


.quintacaja{/*comienxa la quinta caja del main*/
    text-align: center;
    margin: 50px auto 50px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: whitesmoke;
    width: 75em;
}
.quintacaja>div{
    width: 75em;
    height: 37.5em;
}
.quintacaja>div>h2{
    margin: 10px;
}
.quintacaja>div>p{
    margin: 10px 5px 30px 5px;
}
.quintacaja>div>a{
    border-radius: 5px;
    padding: 8px 30px;
    border: 1px solid gray;
    font-weight: bold;
    color: gray;
    background-color: white;
}/*finaliza la quinta seccion del main*/


/* form{/*comienza el formulario*/
    /*text-align: center;
    margin: 50px auto 50px auto;
   display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 900px;
    background-color: whitesmoke;
}*/
.formulario{
    /*display: flex;
    justify-content: center;
    text-align: center;*/
    width: 600px;
    height: 800px;
    margin: 50px auto 50px auto;
   /* background-color: purple;*/
    display: flex;
    justify-content: space-between;
}
.divform1{
    text-align: center;
}
.divform1>h1,p{
    margin: 15px auto 15px auto;
    padding: 0px 10px 0px 10px
}
.divform1>h1{
    color: white;
    text-shadow: 3px 2px 5px black;
}
.divform1>p{
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 8px;
}
.divform2{
    display: flex;
    /*justify-content: space-between;*/
}
.datos{
    display: flex;
    flex-direction: column;
    margin: 0px 15px 0px 0px;
    width: 280px;
    height: 110px;
    justify-content: space-around;

}
.comentarios{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 15px;
    width: 290px;
    height: 160px;
    justify-content: space-around;
}
input{
    background-color: whitesmoke;
    color: gray;
    font-weight: bold;
    border-radius: 5px;
    padding: 3px;
    border: 0;
}
textarea{
    height: 100px;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    padding: 3px;
    border: 0;
}
.send{
    width: 70px;
    height: 35px;
    padding: 0px 10px;
    background-color: black;
    color: white;
    border-color: whitesmoke;
    box-shadow: 1px 1px 6px black;
}